@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

.refresh-btn{
  display: flex;
  text-align: center;
  justify-content: center;
  padding: 10px 0px 10px 0px;
}

.btn{
  cursor: pointer;
  font-size: 30px;
  color: #4ECCA3;
  border: 3px solid #4ECCA3;
  border-radius: 15px;
  background-color: transparent;
  padding: 15px;
  margin: 20px;
  font-family: 'Press Start 2P', cursive;

  
}

.btn:hover{
  background-color: #4ECCA3;
  color: #393E46;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 3rem;
  color: #4ECCA3;
  text-shadow: 2px 2px #EEEEEE;
  font-family: 'Press Start 2P', cursive;
}

p {
  font-size: 1.3rem;
  color: #4ECCA3;
  font-family: 'Press Start 2P', cursive;
  text-shadow: 1px 1px #EEEEEE;
  
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Press Start 2P', cursive;
}
